{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":1087.421875,"scrollleft":0,"selection":{"start":{"row":87,"column":0},"end":{"row":87,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1579271181638,"hash":"da1a9caf6dcde2d33c0981e0e692c244eca01437"}